@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="container">
    @Body
</main>
<footer class="text-muted">
    <div class="container">
        &copy; 2022 - Robert Brands - 2022-01-02
    </div>
</footer>
