@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="container">
    @Body
</main>
<footer class="text-muted">
    <div class="container">
        &copy; 2021 - Robert Brands - 2021-12-31
    </div>
</footer>
